@import 'components/shared/variables.scss';

.financiera {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: visible;
  color: var(--ypf-dark);
  
  &.teams {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  }

  &.dark {
    background-color: #001E62;
  }
}

.container {
  flex: 1;
  overflow-y: auto;
  background-color: var(--ypf-bg);
  padding: 1rem 1.25rem;

  @media (max-width: 640px) {
    padding: 0.5rem;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}